/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

/* Estilos específicos para cada componente */
/* Pode ser personalizado mais de acordo com o design desejado */

/* styles para o LoginForm (SecurityPage) */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

/* styles para o AdminPage e outros componentes semelhantes */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

/* styles para o Chart (ObserverPage) */
canvas {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}