/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

/* Estilos da barra de navegação */
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #666;
}